<!--begin::Content-->




<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        
        <!--begin::Container-->
        <div class="container">

            <!-- begin::Card-->
            <div class="card card-custom overflow-hidden">
                <div class="card-body p-0">
                  <!--end::Header-->
					<!--begin::Content-->
					
                    
										<!-- begin: Invoice-->
										<!-- begin: Invoice header-->
										<div class="row justify-content-center bgi-size-cover bgi-no-repeat py-8 px-8  px-md-0" >
											<div class="col-md-10">
												<div class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row">
                                                    <h1 class="display-4 font-weight-boldest mb-10 opacity-80 "><p class="display-4 font-weight-boldest   text-dark" id="tranid"> </p> <span id="orderid">Item Detail </span> 
                                                        
                                                    </h1>
                                                     
													<div class="d-flex flex-column align-items-md-end px-0">
														
													</div>
												</div>
												<div class="text-center">

                                                    <div id="demo" class="carousel slide" data-bs-ride="carousel">

                                                        <!-- Indicators/dots -->
                                                        <div class="carousel-indicators">
                                                          <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active "></button>
                                                          <button type="button" data-bs-target="#demo" data-bs-slide-to="1" ></button>
                                                          <button type="button" data-bs-target="#demo" data-bs-slide-to="2" class=""></button>
                                                        </div>
                                                        
                                                        <!-- The slideshow/carousel -->
                                                        <div class="carousel-inner">
                                                          <div class="carousel-item active">
                                                            <img src="https://gaido.com.my/wp-content/uploads/2014/09/bearing_x-thumb3-1.png" alt="Los Angeles" class="d-block" style="width:100%">
                                                          </div>
                                                          <div class="carousel-item">
                                                            <img src="https://gaido.com.my/wp-content/uploads/2014/09/bearing_x-thumb3-1.png" alt="Chicago" class="d-block" style="width:100%">
                                                          </div>
                                                          <div class="carousel-item">
                                                            <img src="https://gaido.com.my/wp-content/uploads/2014/09/bearing_x-thumb3-1.png" alt="New York" class="d-block" style="width:100%">
                                                          </div>
                                                        </div>
                                                        
                                                        <!-- Left and right controls/icons -->
                                                        <button class="carousel-control-prev text-dark" type="button" data-bs-target="#demo" data-bs-slide="prev">
                                                          <span class="carousel-control-fas fa-chevron-left fas fa-chevron-left icon-xl"></span>
                                                        </button>
                                                        <button class="carousel-control-next text-dark" type="button" data-bs-target="#demo" data-bs-slide="next">
                                                          <span class="carousel-control-fas fa-chevron-right fas fa-chevron-left icon-xl"></span>
                                                        </button>
                                                      </div>
                                                   
                                                    <!-- <img src="https://gaido.com.my/wp-content/uploads/2014/09/bearing_x-thumb3-1.png" alt="hg" width="300" height="300"> -->
                                                   
                                               
                                                <div class="separator separator-solid separator-primary opacity-20 "></div>
                                                </div>

                                                <div class="border-bottom w-100 opacity-20"></div>
                     

											</div>
										</div>
										<!-- end: Invoice header-->
										<!-- begin: Invoice body-->
                    
                    <div class="row justify-content-center py-8 px-8  px-md-0">

                        <div class="col-xs-6">

                            	<!--begin::Example-->
												<div class="example mb-10">
												
													<div class="example-preview bg-gray-100">
														<ul class="nav nav-pills" id="myTab1" role="tablist">
															<li class="nav-item px-5">
																<a class="nav-link active" id="info-tab" data-toggle="tab" href="#info">
																	<span class="nav-icon">
																		<i class="flaticon2-chat-1"></i>
																	</span>
																	<span class="nav-text">Info</span>
																</a>
															</li>
															<li class="nav-item px-5">
																<a class="nav-link" id="price-tab" data-toggle="tab" href="#price" aria-controls="price">
																	<span class="nav-icon">
																		<i class="flaticon2-layers-1"></i>
																	</span>
																	<span class="nav-text">Price/Quantity</span>
																</a>
															</li>
														
															<li class="nav-item px-5">
																<a class="nav-link" id="purchase-tab" data-toggle="tab" href="#purchase" aria-controls="contact">
																	<span class="nav-icon">
																		<i class="flaticon2-rocket-1"></i>
																	</span>
																	<span class="nav-text">Purchase</span>
																</a>
															</li>
                                <li class="nav-item px-5">
																<a class="nav-link" id="relate-tab" data-toggle="tab" href="#relate">
																	<span class="nav-icon">
																		<i class="flaticon-interface-11"></i>
																	</span>
																	<span class="nav-text">Relate</span>
																</a>
															</li>
														</ul>
														<div class="tab-content mt-5" id="myTabContent1">
															<div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">info</div>
															<div class="tab-pane fade" id="price" role="tabpanel" aria-labelledby="price-tab">price/qty</div>
															<div class="tab-pane fade" id="purchase" role="tabpanel" aria-labelledby="purchase-tab">purchase</div>
                              <div class="tab-pane fade" id="relate" role="tabpanel" aria-labelledby="relate-tab">relate</div>

														</div>
													</div>
													
												</div>
												<!--end::Example-->
                            </div>

                               
                    </div>
                    
                  
                </div>

                
            </div>
            <!-- end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
    
</div>
<!--end::Content-->


<!-- Modal -->
<div class="modal fade" id="inventorydetailmodel" role="dialog">
    <div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title">Inventory Detail</h5>
    </br>
    
    
    </div>
    <div class="modal-body">
    
        <h5 class="modal-title" style="padding-bottom: 2px;">Item Name : <span id="modalspan_itemname" style="font-size: 5;"></span></h5>
       
        <div class="separator separator-solid separator-primary opacity-20" ></div>
    
            <table class="table modeltable"  id="" >
            <thead>
            <tr>
            
                <th scope="col">Location</th>
                <th scope="col">Quantity</th>
            </tr>
            </thead>
            <tbody class="modeltable-body">
            
            </tbody>
    
            </table>
    
    </div>
    
    <div class="modal-footer">
        <h5>Item Description : <span id="modalspan_itemdescription" style="text-align: left;" >Test Product Description</span></h5>
    </div>
    
    </div>
    
    </div>
    </div>
    <!-- END  Modal -->
<NLFORM>
<form method="POST" id="approveform">
<div id="approvepost" style="display: none;">
</div>
</form>
</NLFORM>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="assets/js/pages/features/forms/validation/form-widgets.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>



