<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        
        <!--begin::Container-->
        <div class="container">

            <!-- begin::Card-->
            <div class="card card-custom overflow-hidden">
                <div class="card-body p-0">
                    <!-- begin: Invoice-->
                    <!-- begin: Invoice header-->

                    <!-- begin acction button-->
                    <div class="row justify-content-center py-8 px-8 py-md-27 px-md-0">
                          <div class="col-md-9 d-flex flex-column align-items-md-end px-0">
                                        <!--begin::Dropdown-->

                            </div>

                        <!-- end action-->
                          
                        <div class="col-md-9">
                            <div class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row">
                                <h1 class="display-4 font-weight-boldest mb-10 opacity-80">Bill</h1>
                                
                            
                                 <!-- 													
                                <div class="d-flex flex-column align-items-md-end px-0">
                                    begin::Logo
                                    <a href="#" class="mb-5">
                                        <img src="assets/media/project-logos/3.png" class="h-100px rounded" alt="" />
                                    </a>
                                    end::Logo
                                    <span class="d-flex flex-column align-items-md-end opacity-70">
                                        <span>Cecilia Chapman, 711-2880 Nulla St, Mankato</span>
                                        <span>Mississippi 96522</span>
                                    </span>
                                </div> -->
                            </div>
                            <div class="border-bottom w-100"></div>
                            <div class="d-flex justify-content-between pt-6">
                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolder mb-2">DATE</span>
                                    <span class="opacity-70">${ds.date}</span>
                                </div>
                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolder mb-2">Bill #</span>
                                    <span class="opacity-70">${ds.tranid}</span>
                                </div>
                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolder mb-2">INVOICE TO.</span>
                                    <span class="opacity-70">ABC, P.O. Box 283 8562 Fusce RD.
                                    <br />Fredrick Nebraska 20620</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end: Invoice header-->
                    <!-- begin: Invoice body-->
                    
                    <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                        
                        <div class="col-md-9">
                            <NLFORM>
                                <form method="POST" >
                            <div class="table-responsive">
                               
                                <td style="display:none;"><input id="totalrows" class="form-control" value="0" name="totalrows" style="display:none;"></td>
                                <table class="table" id="table-main">
                                    <thead style="text-align: center;">
                                        <tr >
                                            
                                            <th class=" pl-0 font-weight-bold text-muted text-uppercase">S#</th>
                                            <th class=" pl-0 font-weight-bold text-muted text-uppercase">Product</th>
                                            <th class=" font-weight-bold text-muted text-uppercase"> Quantity</th>
                                            <th class=" font-weight-bold text-muted text-uppercase">Rate</th>
                                            <th class=" pr-0 font-weight-bold text-muted text-uppercase">Amount</th>
                                            <th class=" pr-0 font-weight-bold text-muted text-uppercase">Add Rows</th>

                                            
                                            
                                                                                                            
                                        </tr>
                                    </thead>
                                    
                                    <tbody class="table-tbody">
                                        
                                        
                                            <tr>
                                                 <td>1</td>

                                                 <td>
                                                
                                                        <select class="form-control" name="option0">
                                                            ${ds.selectoption}
                                                        
                                                        </select>
                                                        
                                                
                                                </td>

                                                <td><input type="text" class="form-control" name="qty0"></td>
                                                <td><input type="text" class="form-control" name="rate0"></td>
                                                <td><input type="text" class="form-control" name="amount0"></td>
                                                <td><button type="button" class="btn btn-light-primary font-weight-bold addformtablerows">+</button> </tr>
                                                
                                            </tr>
                                    
                                    
                                    
                                          </tbody>
                                       
                                    
                                </table>
                                
                            </div>
                            <button type="submit" class="btn btn-primary" name="save" value="billdata">Save</button>
                                    
                </form>
            </NLFORM>
                        </div>
                        
                    </div>
                    
                    <!-- end: Invoice body-->
                    <!-- begin: Invoice footer-->
                    <div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0">
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table" id="formtable">
                                    <thead>
                                        <tr>
                                            <th class="font-weight-bold text-muted text-uppercase">Location</th>
                                            <th class="font-weight-bold text-muted text-uppercase">Approval Status</th>
                                            
                                            <th class="font-weight-bold text-muted text-uppercase">Total  Qty</th>
                                            <th class="font-weight-bold text-muted text-uppercase">Total  Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr class="font-weight-bolder">
                                            <td >${ds.location}</td>
                                            <td >${ds.approvalstats}</td>
                                            <td class="text-danger font-size-h3 font-weight-boldest" >${ds.totalqty}</td>
                                            <td class="text-danger font-size-h3 font-weight-boldest" >${ds.total}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end: Invoice footer-->
                    <!-- begin: Invoice action-->
                    <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                        <div class="col-md-9">
                            <div class="d-flex justify-content-between">

                                
                                <!-- <button type="submit" class="btn btn-light-success font-weight-bold headerapprove" >Accept</button>-->
                                  
                                <button type="button" class="btn btn-light-primary font-weight-bold" onclick="window.open('${ds.attachfile}', 'test', 'width=600, height=400');">Attach Files</button>
                                <button type="button" class="btn btn-primary font-weight-bold" onclick="window.print();">Print Invoice</button>
                               <!-- <button type="button" class="btn btn-hover-bg-dark btn-text-dark btn-hover-text-white border-0 font-weight-bold" onclick="window.open('${ds.attachfile}', 'test', 'width=600, height=400');">Attach Files</button>-->

                            </div>
                        </div>
                    </div>
                    <!-- end: Invoice action-->
                    <!-- end: Invoice-->
                </div>
            </div>
            <!-- end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->

<!-- Modal -->
<div class="modal fade" id="myModaldate" role="dialog">
<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Change Date To all Items</h5>


</div>
<div class="modal-body">
<NLFORM>
<form method="POST" >
<div id="totalcount" style="display:none;">

</div>
<input type="date" id="changeallitemdate" class="form-control changeallitemdate" name="changeallitemdate" value="">

<table class="table modeltable">
<thead>
<tr>
    <th scope="col" style="display:none;">line #</th>
    <th scope="col">Product</th>
    <th scope="col">Qty</th>
    <th scope="col">Rate</th>
    <th scope="col">Remove</th>
</tr>
</thead>
<tbody class="table-body">

</tbody>

</table>
<button type="submit" class="btn btn-primary" name="save" value="linedate">Save</button>
</form>
</NLFORM>
</div>

<div class="modal-footer">

</div>
</div>

</div>
</div>
<!-- END  Modal -->
<NLFORM>
<form method="POST" id="approveform">
<div id="approvepost" style="display: none;">
</div>
</form>
</NLFORM>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>

$(function () {
counttd=0
sno=2
lines=1
$('#table-main .table-tbody').on('click','.addformtablerows',function(){



qty=0
td='<tr>'
td+='<td>'+sno+'</td>'
td+='<td><select class="form-control" name="option'+lines+'">  ${ds.selectoption} </select>'
td+=  '</td>'                                                              
td+='<td><input type="text" class="form-control" name="qty'+lines+'" ></td>'   
td+=' <td><input type="text" class="form-control" name="rate'+lines+'" ></td>'  
td+= '<td><input type="text" class="form-control" name="amount'+lines+'" ></td>'                                              
td+='<td style="width:50px"><button type="button" class="btn btn-light-primary font-weight-bold addformtablerows">+</button></td>'
td+='<td><button type="button" class="btn btn-light-danger font-weight-bold delrow">-</button></td> '
td+=  '</tr>'                                                              
                                           
// $('#table-main tbody').find('.addformtablerows').each(function(){

//     $(this).append(td);
// })

$.fn.eachFunction();
// $('#table-main tbody').append(td)
// var tr = $(this).prev('modeltable').find('tr:last');
// tr.clone(true).insertAfter(tr);



sno++
counttd++
lines++
$('#totalrows').val(counttd);
});

$.fn.eachFunction=function(){

$('#table-main').find('.table-tbody').each(function(){

$(this).append(td);
})

}

///////////////
$('#table-main .table-tbody').on('click','.delrow',function(){       //delete buttons


$(this).parents('tr').remove();
counttd--
$('#totalrows').val(counttd);
sno--
lines--
});



});




























$(function () {

$("#checkAll").click(function(){
$('input:checkbox').not(this).prop('checked', this.checked);
});

//

// var Nodata ="<tr><th colspan='10' style='font-weight:normal;'>No Data Available In Table</th></tr>"
// $('#table-main tbody').append(Nodata);

$("#modaldate").click(function () {

$('.modeltable .table-body').empty();
var counttd=0
var nodata='<tr colspan="7"><td>No data Selected </td></tr>'
//Loop through all checked CheckBoxes in GridView.
$("#table-main tbody input[type=checkbox]:checked").each(function () {

// var row = $(this).closest("tr")[0];
//var name = $('.txt-td').val();
linenumber=$(this).parents("tr").find(".linenumber").text();
item =$(this).parents("tr").find(".item").text();
qty =$(this).parents("tr").find(".qty").text();
rate =$(this).parents("tr").find(".rate").text();
// amount =$(this).parents("tr").find(".amount").text();
// itemid=$(this).parents("tr").find(".itemid").text();
// linenumber=$(this).parents("tr").find(".linenumber").text();
td=  '<tr>'
td+= '<td style="display:none;" ><input id="modallinenumber" class="form-control" value="'+linenumber+'" name="linenumber'+counttd+'" ></td>'
td+= '<td><input id="modalitem" class="form-control" value="'+item+'" name="item'+counttd+'" ></td>'
td+= '<td><input id="modalqty" class="form-control" value="'+qty+'" name="qty'+parseInt(linenumber-1)+'" ></td>' 
td+= '<td><input id="modalqty" class="form-control" value="'+rate+'" name="rate'+counttd+'" ></td>' 
td+='<td><button type="button" class="btn btn-danger removebtntop" id="deltop">-</button></td>'
td+='</tr>' 
counttd++ 
$('.modeltable .table-body').append(td);
});
if(counttd==0)
{
$('.modeltable .table-body').append(nodata);
}

total= '<input id="linenumbertop" class="form-control" value="'+counttd+'" name="linenumbertop" >' 
$('#totalcount').append(total);

})

$(".headerapprove").click(function () 
{

var counttd=0
//Loop through all checked CheckBoxes in GridView.
$("#table-main tbody input[type=checkbox]:checked").each(function () {
// var row = $(this).closest("tr")[0];
//var name = $('.txt-td').val();
linenumber=$(this).parents("tr").find(".linenumber").text();
td='<input type="text" id="changeallitemdate" class="form-control changeallitemdate" name="lineapprove'+counttd+'" value="'+linenumber+' " >'
$('#approvepost').append(td);
counttd++
});
td='<button type="submit" class="btn btn-light-success font-weight-bold" id="btnapprove" name="save" value="approve">Approve</button>'
$('#approvepost').append(td);
total= '<input id="linenumbertop" class="form-control" value="'+counttd+'" name="linenumbertop" >' 
$('#approvepost').append(total);
console.log("check")
$("#btnapprove").click();
const form  = document.getElementById('#approveform');
// form.addEventListener('submit', (event) => {
// handle the form data
// form.submit();
// });

})
});


//    $(document).ready(function(){

//  $(".headerapprove").click(function(){
// // 
//    $.ajax(
//      {
//       url: "/app/site/hosting/restlet.nl?script=432&deploy=1",
//       headers: { 'Access-Control-Allow-Origin': '*' }, 
//       success: function(result){
// 		console.log("chec",result);
// 		ajaxstatus
// 		$("#ajaxstatus").append('Accepted');
//        // result = JSON.parse(result);

//         //loadGraphAPI(result[0],result[1],result[2],result[3]);
//       }});
//     });
//   $("#headerapprove").click();
// });

</script>